@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700")
body
	text-align center
	font-family 'Source Sans Pro',sans-serif;
	font-size 20px
	background-color #f4f4f4

header
	text-align left
	height 55px
	width 100%
	background-color #21BA91
	p
		margin-left 15px
		line-height 55px
		font-size 35px
		color white
	img
		position absolute
		top 12px
		right 50px
		height 30px

	.waitlistNr
		position absolute
		color white
		top 11px
		right 25px
		font-size 35px

.wrap
	margin 15px

.nrLable
	background-color #dbdbdb
	padding 16px


button
	margin 30px 0 30px 0
	border none
	font-size 20px
	line-height 30px
	cursor pointer
	border-radius 5px
	padding 5px 10px
	color white
	background-color #21BA91
	&:hover
		background-color #479389
.currentNr
	font-size 85px
.clientNr
	font-size 85px
	color #479389
